@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html, body {
    scroll-behavior: smooth
  }

  .heading {
    @apply font-bold font-playFairDisplay;
  }
  .simple-text {
    @apply font-roboto;
  }
  .page-margin {
    @apply mx-4 sm:mx-6 md:mx-8 lg:mx-20;
  }
  .page-padding {
    @apply px-4 sm:px-6 md:px-8 lg:px-20;
  }
  .page-padding {
    @apply mx-6 md:mx-8 lg:mx-20;
  }
  .nav-selected-item {
    @apply bg-white rounded-full text-black;
  }

  .page-border {
    @apply border-x-[1.5px] border-[rgba(0,0,0,.2)] px-1 md:px-2;
  }

  .show-answer {
    @apply p-2 sm:p-3 md:p-4 lg:p-5 flex items-center gap-2 sm:gap-3 md:gap-4;
  }

  .center-line {
    @apply absolute left-[49%] border-l-[1.7px] border-dashed border-[rgba(0,0,0,.2)] min-h-screen;
  }

  .container {
    @apply max-w-screen-2xl mx-auto;
  }

  .navbar {
    @apply absolute top-0 z-10 bg-transparent max-w-screen-2xl mx-auto w-full
  }

  .nav-item {
    @apply text-xs lg:text-base font-bold py-0.5 lg:py-1 px-2 lg:px-4 rounded-full cursor-pointer bg-transparent hover:bg-white text-white hover:text-black
  }

  .nav-item.active {
    @apply bg-white text-black
  }

  .main-heading {
    @apply text-3xl lg:text-7xl font-bold font-playFairDisplay;
  }
  .description {
    @apply text-sm lg:text-xl font-roboto;
  }

  .simple-text {
    @apply font-roboto;
  }
  .page-padding {
    @apply px-4 sm:px-6 md:px-8 lg:px-20;
  }
  .page-padding {
    @apply mx-6 md:mx-8 lg:mx-20;
  }
  .nav-selected-item {
    @apply bg-white rounded-full text-black;
  }

  .page-border {
    @apply border-x-[1.5px] border-[rgba(0,0,0,.2)] px-1 md:px-2;
  }

  .show-answer {
    @apply p-2 sm:p-3 md:p-4 lg:p-5 flex items-start lg:items-center gap-2 sm:gap-3 md:gap-4;
  }

  .center-line {
    @apply absolute left-[49%] top-10 border-l-[1.7px] border-dashed border-black/20 h-full;
  }

  .hero-section {
    @apply relative h-[350px] md:h-[500px] lg:h-[860px] w-full flex flex-col justify-end md:justify-center items-center;
    background-size: cover;
  }
  .hero-section.about-page {
    @apply relative h-[525px] md:h-[500px] lg:h-[860px] w-full flex flex-col justify-end md:justify-center items-center;
    background-size: cover;
  }
  .video-section {
    @apply relative h-[300px] rounded-3xl overflow-hidden md:h-[500px] lg:h-[700px] w-full flex lg:items-center justify-center my-10 lg:my-0;
    background-size: 100% 100%;
  }
  .play-btn {
    @apply w-24 h-24 flex-shrink-0 rounded-full;
    fill: rgba(255, 255, 255, 0.50);
    background-blend-mode: multiply;
    backdrop-filter: blur(25px);
  }

  .feature-grid{
    @apply mx-5 lg:mx-20 relative -top-96 page-border grid lg:grid-cols-2 gap-5 lg:gap-0;
  }

  .card {
    @apply flex items-center gap-6 bg-white rounded-[30px] shadow-card px-8 py-5;
  }
  .pill {
    @apply flex-shrink-0 max-w-max flex items-center justify-center rounded-full text-sm font-semibold font-roboto px-2.5 py-1.5
  }
  .purple-pill {
    @apply bg-purple-bg-color text-purple-text-color;
  }
  .blue-pill {
    @apply bg-blue-bg-color text-blue-title-color;
  }
  .green-pill {
    @apply bg-green-bg-color text-green-title-color;
  }

  .black-card {
    @apply flex items-center gap-6 bg-light-black-bg-color rounded-[30px] rounded-bl-none shadow-black-card px-8 py-5
  }
  .text-highlight {
    @apply px-1 py-0.5 bg-[#464646] rounded-[3px];
  }

  .colored-sparkles-bg {
    @apply w-[25px] h-[25px] lg:w-[80px] lg:h-[80px] rounded-full flex justify-center items-center bg-cover
  }
  .sparkles-wrapper {
    @apply w-[18px] h-[18px] lg:w-[66px] lg:h-[66px] rounded-full bg-black flex justify-center items-center;
  }
  .card-heading {
    @apply text-5xl font-bold font-playFairDisplay;
  }
  .card-desc {
    @apply text-base font-roboto;
  }

  .footer-links-wrapper {
    @apply flex flex-col lg:flex-row items-start justify-between gap-3 lg:gap-3 px-5 lg:px-24 py-5 bg-black
  }
  #footer-section {
    @apply relative -mt-96 h-screen w-full bg-cover
  }

  .index-link { 
    @apply flex justify-between items-center cursor-pointer w-full font-roboto font-medium text-[#686868]
  }

  .input-wrapper {
    @apply p-2 bg-white rounded-full border-[4px] md:border-[8px] border-black/50
  }
  .input-field {
    @apply px-2 md:px-4 py-1 md:py-2 w-full outline-none focus:outline-none focus:border-none focus:caret-black text-black
  }

  .reel-section {
    @apply relative w-[280px] h-[320px] rounded-3xl overflow-hidden flex lg:items-center justify-center my-10 lg:my-0;
    background-size: 100% 100%;
  }
}

